
body{
    background-image:url(https://a-static.besthdwallpaper.com/mountain-landscape-sunrise-wallpaper-3554x1999-81334_53.jpg);
    background-size: cover;
}
p{
    font:bolder italic 1px ;
}
table{
    border: 2px solid black
}
tr{
    background-color:rgb(13, 108, 197);
}